.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
# Compiled files
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
# Module directory
.terraform/