/* styles.css */

/* Reset and base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li {
    color: #fff;
    text-decoration: none;
    font-family: "Rye", serif;
    font-style: normal;
    font-size: larger;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center{
    justify-content: center;
  }
  .flex-c{
    flex: auto;
    flex-direction: column;
  }

  .w-25{
    width: 25%;
  }

  .rr {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.main{
    padding-bottom: 10px !important;
    align-items: top;
}

a{
 color: rgb(215, 194, 58);
}

a:hover{
   color: white;
}

.xl{
    font-size: xx-large;
}
.w-80{
    
}