/* styles.css */

/* Reset and base styles */
html {
    position: relative !important;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li {
    color: #fff;
    text-decoration: none;
    font-family: "Rye", serif;
    font-style: normal;
    font-size: larger;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center{
    justify-content: center;
  }
  .flex-r {
    display: flex;
    flex-direction: row;
  }
  .flex-c{
    display: flex;
    flex-direction: column !important;
  }

  .w-25{
    width: 25%;
  }

  .rr {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.main{
    padding-bottom: 10px !important;
    align-items: top;
}



a:hover{
   color: white;
}

.xl{
    font-size: xx-large;
}
.w-40{
    width: 40vw;
}

.mx-a {
    margin-left: auto !important;
    margin-right: auto !important;
}

/* .quote {
    justify-content: center;
   
    height: 100px;
    width: 530px;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    padding-left: 5em;
    padding-right: 5em;
} */

.nowrap {
    text-wrap: nowrap;
}

.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -13.5px;
	margin-bottom: -27px;
}

.fixed {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
}

.w-30 {
    width: 30vw;
}
.largescreenquote{
    width: 30%; margin: auto; display: flex; flex-direction: column; justify-content: center;
}
.IIId {
    box-shadow: 7px 3px 3px red;
}
.pt-5 {
    padding-top: 15px !important;
}
.pt-0 {
    padding-top: 0% !important;
}
.t-0 {
    padding-top: 0% !important;
    margin-top: 0% !important;
    font-stretch: ultra-condensed;
    max-height: 2px !important;
}
.m-10{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.m-t10{
    margin-top: 10px !important;
}
.p-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.p-t10{
    padding-top: 10px !important;
}
.m-b10{
    margin-bottom: 10px !important;
}
.p-b10{
    padding-bottom: 10px !important;
}

.md {
    font-size: medium;
    font-weight: bolder;
}
.nowrap {
    text-wrap: nowrap !important;
}
.mb-0 {
    margin-bottom: 0% !important;
}
.mt-0{
    margin-top: 0% !important;
}
.notilt {
    transform: rotateZ(0deg) !important;
}
.mt-10 {
    margin-top: 10px !important;
}

.tb {
    color: black;
  }