/* styles.css */

/* Reset and base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.center{
    justify-content: center;
  }
  .flex-c{
    flex: auto;
    flex-direction: column;
  }

  .w-50{
    width: 50%;
  }
